{% set title = "Borderless B2B - About" %}
{% include "./partials/_header.njk" %}

<h1>About</h1>
<div id='dynamic-vite-counter'></div>

{% set scripts=[
    {
        'type': 'js',
        'path': '/scripts/about.js'
    }
]%}
{% include "./partials/_footer.njk" %}