{% set title = "OddCommon" %}
{% include "./partials/_header.njk" %}

<h1>Home</h1>
<a href="/about/">About</a>

<p>Dynamically Loaded</p>
<div id="dynamic-vite-counter"></div>

<p>Hydrated</p>
{% react '/scripts/components/ViteCounter/TimesWeMispronouncedVite.jsx', {initialCount: 12}, true, 'vite-counter' %}

<p>Static</p>
{% react '/scripts/components/ViteCounter/TimesWeMispronouncedVite.jsx', {initialCount: 12}, false, 'vite-counter-static' %}

{% set scripts=[
    {
        'type': 'js',
        'path': '/scripts/homepage.js'
    }
] %}
{% include "./partials/_footer.njk" %}