---
layout: base
title: "ODC: 11ty + Vite"
---
<h1>Home</h1>
<a href="/about/">About</a>

<p>Dynamically Loaded</p>
<div id="dynamic-vite-counter"></div>

<p>Default No Data</p>
{% react '/scripts/components/ViteCounter/TimesWeMispronouncedVite.jsx' %}


<p>Hydrated With Data</p>
{% react '/scripts/components/ViteCounter/TimesWeMispronouncedVite.jsx', 
    {
        hydrate: true, 
        mount: 'vite-counter', 
        data: { 
            initialCount: 12
        } 
    }
%}

<p>Static with Data</p>
{% react '/scripts/components/ViteCounter/TimesWeMispronouncedVite.jsx', 
    {
        hydrate: false, 
        mount: 'vite-counter-static', 
        data: { 
            initialCount: 12
        } 
    } 
%}


{% set scripts=[
    {
        'type': 'js',
        'path': '/scripts/homepage.js'
    }
] %}